<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Replication Manuscrite</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/foundation.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
  </head>
  <body>

    <div class="off-canvas-wrapper">
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
        <!-- Your menu or Off-canvas content goes here -->
      </div>

      <div class="off-canvas-content" data-off-canvas-content>
        <!-- Your page content lives here -->

        <!-- MOBILE NAV -->
        <nav class="title-bar show-for-small-only">
          <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="offCanvas"></button>
            <span class="title-bar-title"><a href="/">Replication Manuscrite</a></span>
          </div>
        </nav>

        <!-- DESKTOP NAV-->
        <nav class="top-bar nav-desktop">
          <div class="top-bar-left">
              <h3 class="site-title"><a href="/">Replication Manuscrite</a></h3>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              <li><a href="#">About</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Terms</a></li>
            </ul>
          </div>
        </nav>

        <!-- HERO -->
        <div class="hero">
          <div class="wrap grid-x grid-margin-x">
            <div class="small-12 medium-9 cell">
              <h1>Painless Handwriting</h1>
              <p>
                Tired of writing assignments by hand? We are here for the rescue!
                With our product, you can now generate long documents in your handwriting, without
                any of the tedium from before! You only need to provide a sample of your handwriting
                as a scanned image, and the text you want to be written out. Within a few clicks, 
                you will get a generated PDF document ready for printing!
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- MAIN BODY -->
      <div class="thinner-wrap main-body">
        <h1>Get Started</h1>
          <ul>
            <li>
              <p>
                First, download the template for characters and then after filling it out with a 
                red pen, get it scanned and upload the filled out template as an image.
              </p>
            </li>

            <li>
              <p>
                Next, you will be presented with a form to write whatever text you want to print 
                out in your handwriting.
              </p>
            </li>

            <li>
              <p>
                Finally, you will be presented the generated handwritten document as a PDF.
              </p>
            </li>
          </ul>
          <div class="button-group-container">
            <div class="button-group">
              <a class="button" target="_blank" href='{{url_for("static", filename="template.pdf")}}'>Get Template</a>
              <a class="button" href="/upload">Start!</a>
            </div>
          </div>
      </div>


      <!-- FOOTER -->
      <footer>
        <div class="wrap grid-x grid-margin-x small-up-1 medium-up-3">
          <div class="cell">
            <h4>Contact Info</h4>
            <hr>
            <a href="#"><span>Phone</span> 234 234 2345</a>
            <a href="#"><span>Email</span> info@company.com</a>
            <a href="#"><span>Address</span> 123 Center Street</a>
          </div>
          <div class="cell">
            <h4>Site Map</h4>
            <hr>
            <a href="#">About Us</a>
            <a href="#">Services</a>
            <a href="#">Contact Us</a>
          </div>
          <div class="cell">
            <h4>Social Media</h4>
            <hr>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Twitter</a>
          </div>
        </div>
      </footer>
    </div>

    <script src="{{url_for('static', filename='js/vendor/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/what-input.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/foundation.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
  </body>
</html>
